
@{
    ViewBag.Title = "Forms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-4 text-gray-800">Core Values</h1>

    <div class="row">



        <!-- Core Values -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Core Values</h6>
            </div>
            <div class="card-body">





                <right><br>
                    <p>
                        E mbrace the <br>
                        N ew Normal with<br>
                        J ointness of Undertakings<br>
                        O rganizational Adaptability<br>
                        Y oke of efficiency and Effectiveness<br>
                    </p>
                </right>


            </div>
        </div>
    </div>
</div>
